@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Sarala&display=swap');

#about{
  /* display: inline; */
    padding-top: 20px;
    /* text-align: center; */
    font-family: 'Kurale', serif;
    background-color: black;
    height: auto;
    /* overflow: hidden; */
    /* margin-bottom: 70px; */
    padding-bottom: 40px;
    /* width: 100%; */

}
#title{
    padding: 10px 20px;
    font-size: 44px;
    color: white;
}
#aboutPic{
    size: 600px;
    width: 500px;
    height: 400px;
    border: 2px solid white;
    float: left;
    margin: 10px 20px;
}


 #bio{
  font-family: 'Sarala', sans-serif;
  /* font-weight: bold; */



  }
  #s1{
    margin-left: 660px;
    /* font-weight: lighter; */
  }
#biocontainer{
  color: white;
  font-size: 18px;
  height: 250px;
  /* background-color: violet; */
  margin-bottom: 20px;
  /* padding: 22px; */
}
#cards{
  /* position: relative; */
  color: white;
  float: left;
  background-color: red;
  width: 250px;
  height: 250px;
  /* margin-bottom: 170px; */
  /* padding-bottom: 30px; */
/* margin-left: 20px; */
margin: 30px;
}
#bio span{
  font-weight: bold;
  margin: 19px auto;
}
#cardHolder {
  display: flex;
}
/* #left{
width: 50%;
}
#right{
  width: 50%;
} */