#card:hover{
    box-shadow: 0 0 8px 6px rgb(81, 91, 236);
}

#card{
    margin: 25px;
}
#cardtitle{
    font-family: 'kurale';
    color: black;
    margin-bottom: 5px;
    margin-top: 0;
}
#cardcontent{
    font-family: 'Sarala', sans-serif;
    color: black;
    line-height: 25px;
    text-indent: 25px;
    

}
