#resume{
    background-color: black;
    height: 1900px;
    color: white;
    background-image: url('../Assets/background.jpg'); 
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: 1300px;
/* margin: 0; */
}
#skillContainer{
    padding: 30px 60px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    color: black;
    /* background-color: rgb(231, 161, 29); */
}
/* #skillContainer #skill1,#skill2,#skill3,#skill4,#skill5,#skill6 {
    background-color: turquoise;
    margin-bottom: 30px ;
    margin-left: 60px;
    width: 80%;

    /* margin: 10px; */
/* }
#skill1{
    background-color: turquoise;
}  */
#skillContainer  {
    /* background-color: turquoise; */
    margin-bottom: 15px ;
    margin-left: 60px;
    width: 80%;
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    grid-template-columns: auto;

}
#skill1 > div,#skill2  > div,#skill3 > div,#skill4 > div,#skill5 > div,#skill6 > div{
    display: inline-block;
    
}
#category1{
    background-color: brown;
    font-family: 'kurale';
    display: flex;
    /* padding: 10px; */
    /* align-items: center; */
    /* justify-content: center; */
    color: rgb(8, 8, 8);
    padding-left: 50px;
    /* height: 220px; */
}
/* #category1 span{
    color: black;
    /* display: inline; */
    /* font-weight: bolder; */
/* }  */


#category2{
    background-color: rgb(68, 159, 212);
    font-family: 'kurale';
    display: flex;
    color: black;
    padding-left: 50px;
    /* height: 220px; */

}
#experience{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 15px;
    background-color: rgb(54, 17, 122);
    padding: 10px;
}

